[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
django = "*"
django-crispy-forms = "*"
pillow = "*"
rosetta = "*"
bs4 = "*"
lxml = "*"
requests = "*"
django-environ = "*"
scipy = "*"
nltk = "*"
pandas = "*"
django-rosetta = "*"

[requires]
python_version = "3.8"
