<!--template/authors.html-->

{% extends 'base.html' %}

{% load i18n %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'home' %}">{% trans 'BreadcrumbHomePage' %}</a></li>
<li class="breadcrumb-item active" aria-current="page">{% trans 'BreadcrumbAuthorList' %}</li>
{% endblock breadcrumb %}

{% block content %}
    {% for author in authors_list %}
    <hr class="hr hr-primary" />
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <div class="card" style="height: 60vh;">
                    <div class="card-header" style="height: 10vh">
                        <span class="font-weight-bold"><a href="{% url 'author_detail' author.slug %}">{{author.name}}</a></span>
                        <p>
                        <span class="text-muted">{{author.position}}</span>
                        </p>
                        <p>
                        <a href="{{author.istina_author_ref}}">{% trans 'IstinaReferense' %}</a>
                        </p>
                        <p>
                        <a href="{{author.wos_researcher_id}}">{% trans 'WOSReferense' %}</a>
                        </p>
                    </div>
                    <div class="card-body" style="height: 50vh">
                        <p>
                            <img src="{{ author.image.url }}" class="img-fluid" style="height: 45vh">
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card" style="height: 60vh; overflow: auto;">
                    {{author.description}}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock content %}