<!--template/authors.html-->

{% extends 'base.html' %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
<li class="breadcrumb-item active" aria-current="page">Authors</li>
{% endblock breadcrumb %}

{% block content %}
    {% for author in authors_list %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header">
                        <span class="font-weight-bold"><a href="{% url 'author_detail' author.slug %}">{{author.name}}</a></span>
                        <span class="text-muted">{{author.position}}</span>
                    </div>
                    <div class="card-body">
                        <p>
                            <img src="{{ author.image.url }}" class="img-fluid" alt="" width="400" height="400">
                        </p>
                    </div>
                    <div class="card-footer">
                        {{author.description}}
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                {% for article in author.article_authors.all %}
                {% if article.date.year > 2000 %}
                    <p>{{article.name}} |
                    <a href={% url 'article_detail' article.pk %}>See more</a> |
                    <a href="{{article.url}}">Link</a> |
                    {{article.date}}
                    </p>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock content %}