<!--templates/base.html-->

{% load static %}

{% load i18n %}

<!doctype html>
    <title>LSFM</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/sandstone/bootstrap.min.css" integrity="sha384-zEpdAL7W11eTKeoBJK1g79kgl9qjP7g84KfK3AZsuonx38n8ad+f5ZgXtoSDxPOh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/stylesheet.css'%}" type="text/css">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            {% get_current_language as LANGUAGE_CODE %}
            {% get_available_languages as LANGUAGES %}
            {% get_language_info_list for LANGUAGES as languages %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
          <a class="navbar-brand" href="{% url 'home' %}">{% trans 'LabName' %}</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'home' %}">{% trans 'NavBarHomePage' %} <span class="sr-only">{% trans 'BaseTemplateCurrent' %}</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'public' %}">{% trans 'NavBarPublicList' %}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'contacts' %}">{% trans 'NavBarContacts' %}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'authors_list' %}">{% trans 'NavBarAuthorsList' %}</a>
              </li>
            </ul>
            <div class="dropdown show">
              <a class="btn btn-success dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {% trans "Language" %}:
              </a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                {% for language in languages %}
                <a class="dropdown-item" href="/{{ language.code }}/"{% if language.code == LANGUAGE_CODE %} class="selected"{% endif %}>{{ language.name_local }}</a>
                {% endfor %}
              </div>
            </div>
            <form action="{% url 'search' %}" class="form-inline my-2 my-lg-0" method="get">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
          </div>
        </nav>
        <div class="jumbotron" style="background-color: #CAE2A6;">
          {% blocktrans %}
          <h1 class="display-4">Laboratory of structure and functions of mitochondria</h1>
          <p class="lead">A. N. Belozersky Research Institute of Physico-Chemical Biology MSU</p>
          {% endblocktrans %}
          <hr class="my-4">
          <a class="btn btn-success btn-lg" href="{% url 'authors_list' %}" role="button">{% trans 'Team' %}</a>
        </div>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            {% block breadcrumb %}
            {% endblock breadcrumb %}
          </ol>
        </nav>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-1">
                </div>
                <div class="col-sm">
                    <div class="card">
                        <div class="card-body">
                            {% block content %}

                            {% endblock content %}
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-1">
                </div>
        </div>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    </body>
    <footer>
        <div class="row justify-content-center" style="background-color: #CAE2A6;">
          <div class="col-12-xs-5">
          {% blocktrans %}
          <address>
            <strong>LSFM</strong><br />
            MSU<br />
            Ленинские горы МГУ 1, стр. 73, НИИ ФХБ им.А.Н.Белозерского, комната 634. <br />
            <abbr title="Phone">P:</abbr> (495) 939-59-44
          </address>
          {% endblocktrans %}
          </div>
        </div>
    </footer>