<!--templates/history.html-->

{% extends 'base.html' %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
<li class="breadcrumb-item active" aria-current="page">History</li>
{% endblock breadcrumb %}

{% block content %}
    Воткнуть сюда историю борьбы и единства противопложностей, выраженных в непростом пути маленькой гордой лаборатории.
    Что-то типа такого:

    
    Клеточная биология. Клеточные модели самых различных органов и тканей крысы: сердце, почка, нейроны. А также работа со стволовыми клетками.
    Экспериментальная хирургия. Органные модели: ишемия-реперфузия почки крысы и др.
    Биоинженерия.
    Молекулярная биология. 
{% endblock content %}