<!--templates/home.html-->
{% extends 'base.html' %}

{% block content %}
<h2>Лаборатория структуры и функции митохондрий </h2>
<h3>Научно-исследовательского института физико-химической биологии им.А.Н.Белозерского</h3> 
<p>Московского государственного университета основана в 1996 г. и является одним из подразделений отдела биоэнергетики.</p> 

Лаборатория занмается исследованием всех аспектов функционирования митохондрий в норме и при патологических состояниях. 
Выяснением роли этих органелл в развитии нейрологических, почечных, сердечно-сосудистых заболеваний, 
регуляции клеточного гомеостаза, редокс-статуса, дифференцировке и других сторонах биологии клетки. 
{% endblock content %}