<!--templates/home.html-->
{% extends 'base.html' %}

{% load i18n %}

{% block breadcrumb %}
<li class="breadcrumb-item active" aria-current="page">{% trans 'BreadcrumbHomePage' %}</li>
{% endblock breadcrumb %}

{% block content %}
{% trans 'HomePageAboutText' %}

{% blocktrans %}
<p>
    Лаборатория структуры и функции митохондрий<br>
    Научно-исследовательского института физико-химической биологии им.А.Н.Белозерского<br>
    Московского государственного университета основана в 1996 г.<br>
    и является одним из подразделений отдела биоэнергетики.<br>
</p>

<p>Лаборатория занмается исследованием всех аспектов функционирования митохондрий в норме и при патологических состояниях.</p>
<p>Выяснением роли этих органелл в развитии</p>
<ul>
    <li>нейрологических</li>
    <li>почечных</li>
    <li>сердечно-сосудистых заболеваний</li>
    <li>регуляции клеточного гомеостаза</li>
    <li>редокс-статуса</li>
    <li>дифференцировке и других сторонах биологии клетки</li>
</ul>
{% endblocktrans %}
{% endblock content %}