<!--templates/model.html-->

{% extends 'base.html' %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
<li class="breadcrumb-item active" aria-current="page">Model</li>
{% endblock breadcrumb %}

{% block content %}
Модели нейрологичеких заболеваний:

Клеточные модели: культуры нейронов коры головного мозга, гипокампа, зернистые нейроны мозжечка. Возможно моделироваание окислительного стресса, глутаматной токсичности, гипоксического повреждения, глюкозной депривации. Поиск защитных механизмов, тестирование и скрининг потенциальных нейропротекторов. См. методические ресурсы
Модели повреждения мозга у животных. (Сотрудничество с НИИ Мозга http://nii-mozga.narod.ru/). Модели фокальной ишемии головного мозга:
<ul>
    <li>Перекрытие средней мозговой артерии нитью. Одна из самых используемых моделей для изучения нейропротективных препаратов. Эта модель обеспечивает воспроизводимую область инфаркта в бассейне средней мозговой артерии и позволяет реперфузию ишемизированной области, что соответствует патофизиологическим процессам, происходящим при инсульте у человека.</li>
    <li>Фотохимически индуцированный тромбоз сосудов коры головного мозга. Эта модель позволяет производить быстрый скрининг фармакологичских препаратов с нейропротективной активностью.</li>
    <li>Модель компрессионной ишемии коры головного мозга. Воспроизводит патофизиологические процессы происходящие при компрессии мозга, например операции на открытом мозге.</li>
</ul>
<p>Для оценки повреждения мозга используются гистологические, морфометрические методы, а также Магнитно-Резонансая Томография. 
    Для оценки неврологического нарушения используются следующие поведенческие тесты: Цилиндр тест, тест размещения конечностей, Монтоя тест.
    Все оперативные вмешательства выполняются высококлассными специалистами в условиях оборудованной операционной. 
    Проводятся поведенческие тесты, исследования повреждения мозга морфологическими, гистологическими методами и магнитно-резонансной терапией. </p>

Модели нефрологических и урологических заболеваний:
<ol>
    <li>Клеточные модели: культуры клеток почечного эпителия, коротко-культивируемые почечные канальцы, выделенные митохондрии почек. Моделируется гипоксическое повреждение и окислительный стресс, токсическое поражение, бактериальное повреждение и воспалительные реакции.</li>
    <li>Разработана клеточная модель пиелонефрита, описывающая взаимодействие клеток почки и активированных бактериальной ивазией клеток лейкоцитарного ряда.</li>
    <li>Ишемия почки у животных. Операционное моделирование остирой почечной недостаточности разной степени тяжести.</li>
    <li>Хроническая почечная недостаточность у животных.</li>
    <li>Хронический и острый пиелонефрит. Моделирование с помощью оперативного вмешательства или малоивазивных методов инфицирования (разработки НИИ Урологии http://www.uro.ru/) </li>
</ol>
Модели клеточной терапии стволовыми и прогениторными клетками:
<ol>
    <li>Моделирование взаимодействия клеток взрослого органа и стволовых клеток в культуре. </li>
    <li>Экспериметальные методы терапии различных заболеваний с помощью различных типов стволовых клеток (сотрудничество с НЦ Акушерства, гинекологии и перинатологии http://www.ncagip.ru/)</li>
</ol>
{% endblock content %}