<!--templates/public.html-->

{% extends 'base.html' %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
<li class="breadcrumb-item active" aria-current="page">Publications</li>
{% endblock breadcrumb %}

{% block content %}
    {% for article in public_list %}
        <h2><p><a href="{% url 'article_detail' article.pk %}">{{article.name}}</a></p></h2>
        {{article.abstract}}
        {% for author in article.authors.all %}
        <div class="card">
            <div class="card-body">
                <p>{{author.name}}</p>
                <a href="{% url 'author_detail' author.slug %}">Link</a>
            </div>
        </div>
        {% endfor %}
    {% endfor %}
{% endblock content %}