<!--templates/public.html-->

{% extends 'base.html' %}

{% load i18n %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'home' %}">{% trans 'BreadcrumbHomePage' %}</a></li>
<li class="breadcrumb-item active" aria-current="page">{% trans 'BreadcrumbPublicList' %}</li>
{% endblock breadcrumb %}

{% block content %}
<div class="card-columns">
  {% for article in public_list %}
    <div class = "card" style="height: 70vh;">
      <div class="card-header" style="height: 15vh">
        <a href="{% url 'article_detail' article.pk %}">{{article.name}}</a>
        <p>{{article.date}}</p>
      </div>
      <div class="card-body" style="height: 50vh; overflow: auto;">
        {{article.abstract}}
      </div>
      <div class ="card-footer" style="height: 15vh; overflow: auto;">
        <p>{% trans 'PublicAuthorListLink' %}</p>
        {% for author in article.authors.all %}
          <li><a class="btn btn-primary" href="{% url 'author_detail' author.slug %}" role="button">{{author.name}}</a>
        {% endfor %}
      </div>
    </div>
  {% endfor %}
</div>
{% include "paginator.html" with page=public_list %}
{% endblock content %}