<!--templates/public.html-->

{% extends 'base.html' %}

{% load i18n %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'home' %}">{% trans 'BreadcrumbHomePage' %}</a></li>
<li class="breadcrumb-item"><a href="{% url 'public' %}">{% trans 'BreadcrumbPublicList' %}</a></li>
<li class="breadcrumb-item active" aria-current="page">{{public_detail.name}}</li>
{% endblock breadcrumb %}

{% block content %}
    {{public_detail.name}}
    <p>
    {{public_detail.abstract}}
{% endblock content %}