<!--templates/public.html-->

{% extends 'base.html' %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
<li class="breadcrumb-item active" aria-current="page">Publications</li>
{% endblock breadcrumb %}

{% block content %}
<div class="card-columns">
  {% for article in public_list %}
  {% if article.date.year > 2000 %}
    <div class = "card" style="max-width: 30vw;">
      <div class="card-header">
        <a href="{% url 'article_detail' article.pk %}">{{article.name}}</a>
      </div>
      <div class="card-body">
        <div class="overflow-auto">
          {{article.abstract}}
        </div>
      </div>
      <div class ="card-footer">
        <p>Authors:</p>
        {% for author in article.authors.all %}
          <li><a class="btn btn-primary" href="{% url 'author_detail' author.slug%}" role="button">{{author.name}}</a>
        {% endfor %}
      </div>
    </div>
  {% endif %}
  {% endfor %}
</div>
{% endblock content %}