<!--templates/resource.html-->

{% extends 'base.html' %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
<li class="breadcrumb-item active" aria-current="page">Resource</li>
{% endblock breadcrumb %}

{% block content %}
Перечень оборудования и материалов для выполнения проекта:
<ul>
    <li>Конфокальный микроскоп LSM510</li>
    <li>Проточный флуориметр</li>
    <li>Инвертируемые флуоресцентные микроскопы , с камерой и анализом изображения</li>
    <li>Полярографы</li>
    <li>Спектрофотометры</li>
    <li>Флуориметры</li>
    <li>Электрофорез с переносом для Вестерн блотов</li>
    <li>Препаративные и аналитические центрифуги</li>
    <li>Имеется в достаточном количестве мелкое оборудование, применяемое для культивирования клеточных культур.</li>
    <li>Ламинар</li>
    <li>СО2-инкубатор</li>
    <li>Планшетный спектрофотометр</li>
</ul>

Также для проведения работ по экспериментальной хирургии доступна оборудованная операционная. 
{% endblock content %}